html
    link(rel="stylesheet",href="../people.css")
    head
        title pug document
    body
        h1 pug is working
        div.people 
            table
                thead
                    th Sno
                    th Name
                    th City
                tbody
                    each x in persons
                        tr
                            td= x.sno
                            td= x.name
                            td= x.city
