.people{
    background-color: rgb(231, 242, 246);
    width: 1000px;
    margin: 30px;
    padding: 20px;
}

th {
    color: whitesmoke;
    background-color: darkblue;
}

td{
    background-color: whitesmoke;
    color: blue;
}
th,td{
    width: 200px;
    height: 25px;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}